* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  background-color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link {
  color: aliceblue;
}

a:visited {
  color: orangered;
}

a:hover {
  color: aliceblue;
}

a:active {
  color: orange;
}

img {
  width: 80%;
  height: auto;
}

button {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: orangered;
  background-color: aliceblue;
}

button:hover {
  background-color: orangered;
  color: aliceblue;
}

.carta-uno {
  padding: 50px;
  margin: 20px;
  width: 80vw;
  max-width: 800px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/imagenes/carta-uno.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}
.carta-uno h3 {
  margin-top: 0;
  color: aliceblue;
}
.carta-uno .resaltado-uno {
  color: aquamarine;
}
.carta-uno .texto {
  display: none;
}

.carta-dos {
  padding: 50px;
  margin: 20px;
  width: 80vw;
  max-width: 800px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/imagenes/carta-dos.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}
.carta-dos h3 {
  margin-top: 0;
  color: aliceblue;
}
.carta-dos .resaltado-dos {
  color: orangered;
}
.carta-dos .texto {
  display: none;
}

.carta-tres {
  padding: 50px;
  margin: 20px;
  width: 80vw;
  max-width: 800px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/imagenes/carta-tres.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}
.carta-tres h3 {
  margin-top: 0;
  color: aliceblue;
}
.carta-tres .resaltado-tres {
  color: crimson;
}
.carta-tres .texto {
  display: none;
}

@media (min-width: 992px) {
  .caja-cartas {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .caja-cartas .carta-uno {
    width: 30%;
    height: 700px;
  }
  .caja-cartas .carta-uno .texto {
    display: block;
    color: aliceblue;
  }
  .carta-dos {
    width: 30%;
    height: 700px;
  }
  .carta-dos .texto {
    display: block;
    color: aliceblue;
  }
  .carta-tres {
    width: 30%;
    height: 700px;
  }
  .carta-tres .texto {
    display: block;
    color: aliceblue;
  }
}
.footer {
  background-image: linear-gradient(to right, #994c0d 0%, rgb(0, 0, 0) 100%);
  background-blend-mode: multiply, multiply;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.footer .list-footer {
  display: inline-block;
  margin: auto;
  padding: 8px;
}

.header {
  background-image: linear-gradient(to right, #994c0d 0%, rgb(0, 0, 0) 100%);
  background-blend-mode: multiply, multiply;
}
.header .container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.header .container .nav .list-e {
  display: inline;
  margin: auto auto;
  font-weight: bold;
  padding: 5px 5px;
}
.header .container .nav a {
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  color: aliceblue;
  border: solid aliceblue 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, 0.5);
}
.header .container .nav a:hover {
  background-color: orangered;
  border: 1px solid black;
  border-radius: 15px;
  color: aliceblue;
}
.header .container .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: aliceblue;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.header .container .logo .dado {
  width: 50px;
  border-radius: 100px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  .header .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
#hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/imagenes/hero2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#hero a {
  text-decoration: none;
}
#hero h2 {
  background-color: black;
  border: solid 2px orangered;
  border-radius: 15px;
  padding: 3px 5px;
}

.somos {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, #994c0d 0%, rgb(0, 0, 0) 100%);
  background-blend-mode: multiply, multiply;
  padding: 50px 10px;
}
.somos h2 {
  color: aliceblue;
  font-weight: bold;
}
.somos p {
  color: aliceblue;
}
.somos img {
  padding: 15px 5px;
  border-radius: 25px;
}

.articulo-uno {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 15px;
}
.articulo-uno h2 {
  font-weight: bold;
  color: black;
}
.articulo-uno p {
  padding: 10px;
}
.articulo-uno .caras {
  display: none;
}

.semanales h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
  text-shadow: 1px 1px;
  text-decoration: underline;
}
.semanales .articulo-dos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 15px;
}
.semanales .articulo-dos h3 {
  font-weight: bold;
  color: black;
}
.semanales .articulo-dos .video {
  width: 100%;
  height: 400px;
}
.semanales .articulo-tres {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 15px;
}
.semanales .articulo-tres h2 {
  font-weight: bold;
  color: black;
}

.tarjetas {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=estilos.css.map */
