* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  background-color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link {
  color: aliceblue;
}

a:visited {
  color: orangered;
}

a:hover {
  color: aliceblue;
}

a:active {
  color: orange;
}

img {
  width: 80%;
  height: auto;
}

button {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: orangered;
  background-color: aliceblue;
}

button:hover {
  background-color: orangered;
  color: aliceblue;
}

.carta-uno {
  padding: 50px;
  margin: 20px;
  width: 80vw;
  max-width: 800px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/imagenes/carta-uno.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}
.carta-uno h3 {
  margin-top: 0;
  color: aliceblue;
}
.carta-uno .resaltado-uno {
  color: aquamarine;
}
.carta-uno .texto {
  display: none;
}

.carta-dos {
  padding: 50px;
  margin: 20px;
  width: 80vw;
  max-width: 800px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/imagenes/carta-dos.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}
.carta-dos h3 {
  margin-top: 0;
  color: aliceblue;
}
.carta-dos .resaltado-dos {
  color: orangered;
}
.carta-dos .texto {
  display: none;
}

.carta-tres {
  padding: 50px;
  margin: 20px;
  width: 80vw;
  max-width: 800px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/imagenes/carta-tres.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}
.carta-tres h3 {
  margin-top: 0;
  color: aliceblue;
}
.carta-tres .resaltado-tres {
  color: crimson;
}
.carta-tres .texto {
  display: none;
}

@media (min-width: 992px) {
  .caja-cartas {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .caja-cartas .carta-uno {
    width: 30%;
    height: 700px;
  }
  .caja-cartas .carta-uno .texto {
    display: block;
    color: aliceblue;
  }
  .carta-dos {
    width: 30%;
    height: 700px;
  }
  .carta-dos .texto {
    display: block;
    color: aliceblue;
  }
  .carta-tres {
    width: 30%;
    height: 700px;
  }
  .carta-tres .texto {
    display: block;
    color: aliceblue;
  }
}
@media (min-width: 1200px) {
  .caja-cartas {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .caja-cartas .carta-uno {
    width: 30%;
    height: auto;
  }
  .caja-cartas .carta-uno .texto {
    display: block;
    color: aliceblue;
  }
  .carta-dos {
    width: 30%;
    height: auto;
  }
  .carta-dos .texto {
    display: block;
    color: aliceblue;
  }
  .carta-tres {
    width: 30%;
    height: auto;
  }
  .carta-tres .texto {
    display: block;
    color: aliceblue;
  }
}
.footer {
  background-image: linear-gradient(to right, #994c0d 0%, rgb(0, 0, 0) 100%);
  background-blend-mode: multiply, multiply;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.footer .list-footer {
  display: inline-block;
  margin: auto;
  padding: 8px;
}

@media (min-width: 992px) {
  .footer .list-footer {
    display: inline;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 50px;
    padding: 8px;
  }
}
.header {
  background-image: linear-gradient(to right, #994c0d 0%, rgb(0, 0, 0) 100%);
  background-blend-mode: multiply, multiply;
}
.header .container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.header .container .nav ul {
  display: block;
  justify-content: space-evenly;
}
.header .container .nav ul .list-e {
  display: inline-block;
  font-weight: bold;
  padding: 5px 5px;
}
.header .container .nav a {
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  color: aliceblue;
  border: solid aliceblue 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, 0.5);
}
.header .container .nav a:hover {
  background-color: orangered;
  border: 1px solid black;
  border-radius: 15px;
  color: aliceblue;
}
.header .container .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: aliceblue;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.header .container .logo .dado {
  width: 50px;
  border-radius: 100px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  .header .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
.articulo_leer-ficha {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.articulo_leer-ficha h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
}
.articulo_leer-ficha .ficha-monstruo {
  text-align: center;
  padding: 15px;
}
.articulo_leer-ficha .ficha-monstruo img {
  width: 100%;
}
.articulo_leer-ficha p {
  text-align: center;
}

.crear-monstruo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid black;
  box-shadow: -1px -6px 14px 1px rgba(0, 0, 0, 0.29);
}
.crear-monstruo h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
}
.crear-monstruo .osolechuza {
  text-align: center;
  padding: 15px;
}
.crear-monstruo .osolechuza img {
  width: 100%;
  border-radius: 30px;
}
.crear-monstruo p {
  text-align: center;
}

.articulo__mapas-mundo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.articulo__mapas-mundo h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
}
.articulo__mapas-mundo .mapamundi {
  text-align: center;
  margin: 15px;
  width: 90vw;
}
.articulo__mapas-mundo .mapamundi img {
  border-radius: 15px;
}
.articulo__mapas-mundo p {
  text-align: center;
}

.articulo__ciudades {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.articulo__ciudades .mapa-ciudad {
  text-align: center;
  padding: 15px;
}
.articulo__ciudades .mapa-ciudad img {
  border-radius: 15px;
  width: 80%;
}
.articulo__ciudades h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
}
.articulo__ciudades p {
  text-align: center;
}

.articulo__mazmorras {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.articulo__mazmorras h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
}
.articulo__mazmorras p {
  text-align: center;
}
.articulo__mazmorras .mapa-mazmorra {
  text-align: center;
  padding: 15px;
}
.articulo__mazmorras .mapa-mazmorra img {
  border-radius: 15px;
  width: 80%;
}

@media (min-width: 992px) {
  .articulo__mapas-mundo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .articulo__mapas-mundo h2 {
    width: 100%;
  }
  .articulo__mapas-mundo .mapamundi {
    text-align: center;
    margin: 15px;
    width: 80vw;
  }
  .articulo__mapas-mundo p {
    text-align: start;
    width: 90vw;
    padding: 20px;
  }
  .articulo__ciudades {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    box-shadow: -1px -6px 14px 1px rgba(0, 0, 0, 0.29);
    padding: 15px;
  }
  .articulo__ciudades .mapa-ciudad {
    text-align: center;
    width: 50vw;
  }
  .articulo__ciudades .mapa-ciudad img {
    height: 800px;
  }
  .articulo__ciudades h2 {
    width: 100%;
    padding: 30px;
  }
  .articulo__ciudades p {
    text-align: end;
    width: 45vw;
    padding: 30px;
  }
  .articulo__mazmorras {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    box-shadow: -1px -6px 14px 1px rgba(0, 0, 0, 0.29);
  }
  .articulo__mazmorras h2 {
    width: 100%;
    padding-bottom: 30px;
  }
  .articulo__mazmorras p {
    text-align: start;
    width: 60%;
    padding: 15px;
  }
  .articulo__mazmorras .mapa-mazmorra {
    text-align: center;
    padding: 15px;
    width: 40%;
  }
  .articulo__mazmorras .mapa-mazmorra img {
    border-radius: 15px;
    width: 100%;
  }
}
.section_objetos {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.section_objetos .articulo_crear-objeto {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 20px;
}
.section_objetos .articulo_crear-objeto h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
}
.section_objetos .articulo_crear-objeto p {
  text-align: center;
}
.section_objetos .articulo_crear-objeto .botas {
  text-align: center;
  padding: 15px;
}
.section_objetos .articulo_crear-objeto .botas img {
  border-radius: 30px;
  width: auto;
}

.articulo_reliquias {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.articulo_reliquias h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
  margin: 10px;
}
.articulo_reliquias p {
  text-align: center;
}
.articulo_reliquias .collar {
  text-align: center;
  padding: 15px;
}
.articulo_reliquias .collar img {
  border-radius: 30px;
}

.articulo_obj-comunidad {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.articulo_obj-comunidad h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
}
.articulo_obj-comunidad p {
  text-align: center;
}
.articulo_obj-comunidad .anillo {
  text-align: center;
  padding: 15px;
}
.articulo_obj-comunidad .anillo .img-anillo {
  border-radius: 30px;
}

@media (min-width: 992px) {
  .section_objetos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .section_objetos .articulo_crear-objeto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .section_objetos .articulo_crear-objeto p {
    text-align: end;
  }
  .section_objetos .articulo_crear-objeto .botas {
    margin: 15px;
    float: right;
  }
}
.articulo_reliquias {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  box-shadow: -1px -6px 14px 1px rgba(0, 0, 0, 0.29);
}
.articulo_reliquias h2 {
  width: 100%;
}
.articulo_reliquias p {
  text-align: start;
  width: 70%;
  order: 2;
}
.articulo_reliquias .collar {
  width: 30%;
  order: 1;
}

.articulo_obj-comunidad {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  box-shadow: -1px -6px 14px 1px rgba(0, 0, 0, 0.29);
}
.articulo_obj-comunidad h2 {
  width: 100%;
}
.articulo_obj-comunidad p {
  text-align: start;
  width: 70%;
}
.articulo_obj-comunidad .anillo {
  text-align: center;
  width: 30%;
}

h1 {
  text-align: center;
  color: orangered;
  font-weight: bold;
}

.formulario {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.formulario .nombre {
  padding: 10px;
  font-weight: bold;
  width: 80vw;
}
.formulario .mail {
  padding: 10px;
  font-weight: bold;
  width: 80vw;
}
.formulario .comentario {
  padding: 10px;
  font-weight: bold;
  width: 80vw;
}
.formulario .boton.enviar {
  margin: 40px;
  width: 80vw;
}

.info-contacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
}
.info-contacto h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
}
.info-contacto p {
  text-align: center;
  font-weight: 600;
}
.info-contacto .mapa {
  text-align: center;
  width: auto;
}
.info-contacto .mapa iframe {
  width: auto;
  height: auto;
}

@media (min-width: 992px) {
  .formulario {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .formulario .nombre {
    padding: 10px;
    font-weight: bold;
    width: 50vw;
  }
  .formulario .mail {
    padding: 10px;
    font-weight: bold;
    width: 50vw;
  }
  .formulario .comentario {
    padding: 10px;
    font-weight: bold;
    width: 50vw;
  }
  .formulario .boton.enviar {
    margin: 40px;
  }
}
.info-contacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
}
.info-contacto h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
}
.info-contacto p {
  text-align: center;
  font-weight: 600;
}
.info-contacto .mapa {
  text-align: center;
  width: 100%;
}
.info-contacto .mapa iframe {
  width: 600px;
  height: 420px;
}

#hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/imagenes/hero2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#hero a {
  text-decoration: none;
}
#hero h2 {
  background-color: black;
  border: solid 2px orangered;
  border-radius: 15px;
  padding: 3px 5px;
}

.somos {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, #994c0d 0%, rgb(0, 0, 0) 100%);
  background-blend-mode: multiply, multiply;
  padding: 50px 10px;
}
.somos h2 {
  color: aliceblue;
  font-weight: bold;
}
.somos p {
  color: aliceblue;
}
.somos .nosotros {
  margin: 15px 5px;
  border-radius: 25px;
  width: 50%;
}

.articulo-uno {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
}
.articulo-uno h2 {
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
}
.articulo-uno p {
  padding: 10px;
  text-align: center;
}
.articulo-uno .cara-dos {
  display: none;
}

.semanales h2 {
  text-align: center;
  font-weight: bold;
  color: orangered;
  text-shadow: 1px 1px;
  background-image: linear-gradient(to right, #994c0d 0%, rgb(0, 0, 0) 100%);
  background-blend-mode: multiply, multiply;
}
.semanales .articulo-dos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 15px;
}
.semanales .articulo-dos h3 {
  font-weight: bold;
  color: black;
}
.semanales .articulo-dos .video {
  width: 100%;
  height: 400px;
}
.semanales .articulo-tres {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 15px;
}
.semanales .articulo-tres h2 {
  font-weight: bold;
  color: black;
}

@media (min-width: 992px) {
  .articulo-uno .lo-basico {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .articulo-uno .lo-basico .basico-texto {
    width: 50%;
  }
  .articulo-uno .lo-basico .basico-texto h2 {
    margin: 30px;
    text-align: center;
  }
  .articulo-uno .lo-basico .cara-dos {
    display: block;
    width: 35%;
    border-radius: 30px;
  }
}
@media (min-width: 1200px) {
  .articulo-uno .lo-basico {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .articulo-uno .lo-basico .basico-texto {
    width: 50%;
  }
  .articulo-uno .lo-basico .basico-texto h2 {
    margin: 30px;
    text-align: start;
  }
  .articulo-uno .lo-basico .basico-texto p {
    text-align: start;
  }
  .articulo-uno .lo-basico .cara-dos {
    display: block;
    width: 35%;
    max-height: 950px;
    border-radius: 30px;
  }
}

/*# sourceMappingURL=estilos.css.map */
