/* ---Reset---  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* body */




/* imagenes */




/* ___INDEX___ */



/* ___BESTIARIO___ */


/* ___CONTACTANOS___ */


/* ___MAPAS___ */



/* ___OBJETOS___ */



/* ___PRODUCTOS___ */