/* ---Reset---  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: linear-gradient (to left black 70%, white 30% );
}
a:hover{
    text-decoration: none;
}
li{
    list-style-type: none;
}


/* body */
body{
    background-color: black;
    color: aliceblue;
}

/* nav */
.barra-superior{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}



/* h1 */
.titulo-principal{
    color: white;
    padding-bottom: 10px;
    transition: background 1s linear;
    border-radius: 30px;
}
.titulo-principal:hover{
    background: linear-gradient(to top, #330867 0%, #30cfd0 100%);
  transition: background 2s linear
}

/* li-nav */
.elemento-lista-nav{
}

.elemento-lista-nav:hover{
    background: linear-gradient(to top, #330867 0%, #30cfd0 100%);
    border-radius: 30px;
    padding-bottom: 5px;
}

/* imagenes */
.imagen{
    border-radius: 30px;
}

/* footer */
.footer{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

}

/* ___INDEX___ */



/* ___BESTIARIO___ */


/* ___CONTACTANOS___ */


/* ___MAPAS___ */



/* ___OBJETOS___ */



/* ___PRODUCTOS___ */