.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, #994c0d 0%, rgb(0, 0, 0) 100%);
    background-blend-mode: multiply,multiply;
    padding: 8px;
    align-content: space-between;
        .list-footer{
            width: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: space-around;
            flex-wrap: wrap;
            overflow: hidden;
            margin: 5px;
            padding: 10px;
            width: 50%;
        }
        h2{
            color: black;
            font-weight: bold;
            text-align: center;

        }
        p{
            color: aliceblue;
            text-align: center;
    }
}


@media (min-width: 992px){
    .footer{
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        align-content: space-around;
        .list-footer{
            width: 60%;
        }
    }
    }

