/* nav */
.barra-superior{
    background: rgb(255,56,98);
    background: linear-gradient(352deg, rgba(255,56,98,1) 0%, rgba(255,255,255,1) 50%, rgba(0,212,255,1) 100%); 
    box-shadow: 4px 6px 5px -3px rgba(0,0,0,0.43);
}


