.header{
    background-color: greenyellow;
        .container{
            max-width: 1400px;
            margin: auto;
            @include flex (column, wrap, space-between, center);
            .nav{
                .list-e{
                    display: inline;
                    margin: auto;
                }
                a{
                    padding: 5px 10px;
                    text-decoration: none;
                    font-weight: bold;
                    color: deepskyblue;
                }
                a:hover{
                        color: blue;
                        background-color: crimson;
                        border: 1px solid black;
                        border-radius: 10px;
                }
                
        }
        .logo{
            margin: 0;
            padding: 25px 30px;
            font-weight: bold;
            color: black;
            font-size: 2.5em;
            text-align: center;
            .dado{
                width: 40px;
            }
        }
        
}
}




