*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.2em;
}
ul{
    list-style: none;
}
body{
    font-family: sans-serif;
    background-color: aliceblue;
}
a{
    color: inherit;
    text-decoration: none;
}
    a:link{
        color: aliceblue;
    } 
    a:visited {
        color: orangered;
    }
    a:hover{
        color: aliceblue;
    } 
    a:active{
        color: orange;
    }

img{
    width: 80%;
    height: auto;
}